@page
@model WebAssignemnt.Pages.DisplayAuthorModel
@{
}


<div class="text-center">
    <h1 class="display-4">Hello @Model.GivenName</h1>
    <hr />

    <p> Your enteries has been submitted. </p> <br />

    <p> <a href="Index"> <input type="button" value="Home Page"> </a>  </p> <br />

    <p> <a href="/Admin/Author/CreateAuthor"> <input type="button" value="Click here for Author Page"> </a>  </p> <br />

    <p> <a href="/Admin/Blog/CreateBlog"> <input type="button" value="Click here for Blog Page"> </a>  </p>

</div>
