@page
@model WebAssignemnt.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Author Blog</h1>
    <hr />

    <p> <a href="/CRUD/Author/Create"> <input type="button" value="Click here for Author Page"> </a>  </p>
    <p>  </p>
    <p> <a href="/CRUD/BlogPost/index"> <input type="button" value="Click here for Blog Page"> </a>  </p>




</div>
