@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Welcome To Author Blog</h1>
    <hr />

    <p> <a href="/Admin/Author/CreateAuthor"> <input type="button" value ="Click here for Author Page"> </a>  </p>
    <p>  </p>
<p> <a href="/Admin/Blog/CreateBlog"> <input type="button" value ="Click here for Blog Page"> </a>  </p>




</div>
