<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7b1ba490-d34b-4941-9ad3-703b478b3d22/resourceGroups/WebAssignmentSoultion/providers/Microsoft.Web/sites/WebAssignemnt</ResourceId>
    <ResourceGroup>WebAssignmentSoultion</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://webassignemnt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>webassignemnt.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAssignemnt</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAssignemnt</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>